.image-text {
  color: #ffffff !important;
}

.image-text-black {
  color: #d2b27f !important;
}

.image-text-pink {
  color: #fcd1d7
}

.image-text-dark {
  color: #bf9858 !important;
}

.container {
  width: 100%;
  height: 95vh;
  overflow: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  scroll-snap-align: start;
}

.verify {
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.lower-middle {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.lower-left {
  position: absolute;
  top: 75%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.top {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.top-right {
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.jumbo {
  font-size: 50px !important;
}

h1, h2, h3, h4, h5 {
  font-family: "Impact", sans-serif;
  margin: 5px 0;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}