.image-text {
  color: #ffffff !important;
}

.image-text-black {
  color: #d2b27f !important;
}

.image-text-pink {
  color: #fcd1d7
}

.image-text-dark {
  color: #bf9858 !important;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  scroll-snap-align: start;
}

.lower-middle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding-bottom: 20%;
}

.top {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.top-right {
  position: absolute;
  top: 5%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.jumbo {
  font-size: 50px !important;
}